/* regole generali */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 /* body */
body {
    background-color: rgba(245, 237, 237, 0.877);
    font-family: Arial, sans-serif;
    font-size: 16px;
}
    /* regole corpo principale */
.container {
    margin: 0 auto;
    padding: 0 50px;
    background-color: #fff;
    width: 70%;
    border-radius: 5px;
}

#nome-sito {
    background-color: #fff;
    padding-bottom: 10px;
    margin-bottom: 50px;
}

#logo {
    line-height: 100px;
    vertical-align: middle;
}

#name-logo {
    display: inline-block;
    font-size: 40px;
    vertical-align: middle;
}

/* struttura principale */

.customization-section {
    padding: 10px 10px;
}

#add-task {
    color: #fff;
    background-color: rgb(109, 171, 241);
    border: 0px;
    border-radius: 8px;
    height: 32px;
    width: auto;
    padding: 9px 9px;
    vertical-align: middle;
}

#add-section {
    color: lightgray;
    background-color: #fff;
    border-color: lightgray;
    border-radius: 8px;
    width: auto;
    padding: 7px 7px;
    vertical-align: middle;
}

/* elemento elenco struttura */

.list {
    padding-top: 28px;
    padding-bottom: 28px;
    font-size: 28px;
}

.item-list {
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.check{
    color: lightgreen;
    border: solid;
    border-radius: 52%;
}

.reference {
    color: #fff;
    font-size: 12px;
    border-radius: 10px;
    padding: 5px 5px;
}
.cross {
    color: red;
    border: solid;
    border-radius: 50%;
}

.reference.darkpink {
    background-color: palevioletred;
}

.reference.greenyellow {
    background-color: greenyellow;
}

.reference.blue {
    background-color: lightblue;
}

.reference.violet {
    background-color: blueviolet;
}

.reference.lightgreen {
    background-color: lightgreen;
}

.reference.orange {
    background-color: orange;
}

